* {
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: none;
    padding: none;
}

body {
    height: 100vh;
    width: 100vw;
}

.container-fluid {
    width: 100%;
}

.banner {
    position: absolute;
    top: 49%;
    left: 45%;
    width: 50%;
    height: 10%;
    /* min-height: 10vh; */
    /* background: #000; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

/* .banner.content {
    max-width: 10%;
    margin-bottom: 100px;
} */

#play-button {
    position: absolute;
    top: -80%;
    left: 60%;
    width: 80px;
    height: 80px;
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    position: relative;
    max-width: 90%;
    outline: none;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
    color: white;

}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
}

/* #play-button {
    width: 110px;
    height: 110px;
    position: relative;
    margin-left: -150px;
    margin-top: 300px;
} */

.intro-text-column {
    padding: 10px;
}

.intro-text-container {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.intro-image-column {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.btn {
    border-radius: 20px;
    height: 2.4rem;
    width: 100%;
}

.links-row {
    text-decoration: none;
    padding: 20px;
    color: white;
    /* margin-bottom: 10px; */

}

.links-row h1 {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
}

.links-row h2 {
    font-size: 1.3rem;
    text-align: center;


}

.carousel-row {
    background-color: rgb(206, 206, 206);
}

/* .carousel-row img {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
} */

.carousel-item img {
    width: 300px;
    height: 300px;
}

.copyright {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
}

.form-row {
    padding: 15px;
}

.form-row h1 {
    text-align: center;
    color: white;
}

.form-row h2 {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

form h5 h6 {
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

h5 {
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

h6 {
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

.selection {
    color: white;
    font-size: 1rem;
}